@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@300;500;600;700&family=WindSong&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* TEXT AND BG COLORS */
  --white: #fff;
  --light-white: #c4cfde;
  --black: #000;
  --dark-black: #0b0b13;
  --blue: #00bfe7;
  --blue-shadow: rgba(0, 193, 231, 0.631372549);
  --dark-blue: #100028;
  --bg-color: #09101a;

  --montserrat-font: "Montserrat", sans-serif;
  --poppin-font: "Poppins", sans-serif;
  --stylish-font: "WindSong", cursive;
  /* TRANSITION */
  --transition: all 0.4s ease-in;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  background-color: var(--dark-blue) !important;
  font-family: var(--montserrat-font);
  user-select: none;
}

/* CUSTOM SCROLL BAR SECTION */
body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-thumb {
  border: 0.2rem solid var(--dark-black);
  background: var(--blue);
  border-radius: 1rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color);
}

body::-webkit-scrollbar-track {
  background: var(--dark-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--poppin-font);
}

h1 {
  font-size: 5rem !important;
  font-weight: var(--fw-bolder) !important;
  color: var(--white) !important;
  text-transform: capitalize;
}

h2 {
  font-size: 4rem !important;
  font-weight: var(--fw-bolder) !important;
  text-transform: capitalize;
  color: var(--white) !important;
}

h3 {
  font-size: 3rem !important;
  font-weight: var(--fw-bolder) !important;
  text-transform: capitalize;
}

h4 {
  font-size: 2.5rem !important;
  font-weight: var(--fw-bolder) !important;
  text-transform: capitalize;
}

h5 {
  font-size: 2rem !important;
  font-weight: var(--fw-bolder) !important;
  text-transform: capitalize;
}

p {
  font-size: 1.6rem;
  font-weight: var(--fw-light);
}

.text-blue  {
  color: var(--blue);
} 

.padding-top {
  padding-top: 5rem;
}
.padding-bottom {
  padding-bottom: 5rem;
}

.margin-top {
  margin-top: 5rem;
}

.section-padding {
  padding-block: 10rem;
}

.top-icon {
  width: 4rem;
  height: 4rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  display: grid;
  place-items: center;
  visibility: hidden;
  opacity: 0.8;
  font-size: 1.8rem;
  color: var(--white);
  background-color: var(--blue);
  border: 0.2rem solid transparent;
  filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 193, 231, 0.5));
  transition: var(--transition);
}

.top-icon:hover,
.top-icon:focus {
  opacity: 1;
  color: var(--white);
  border-color: var(--blue);
  background-color: transparent;
}

.animateIcon {
  visibility: visible;
  animation: iconAnimation 0.5s linear;
}

@keyframes iconAnimation {
  0% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.icon-animation {
  animation: icon 1s linear infinite alternate-reverse;
}

@keyframes icon {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

/* BUTTONS SECTION */
.btn-primary,
.btn-secondary {
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  border-radius: 0.2rem;
  border: none;
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
  z-index: 1;
  transition: var(--transition);
}

.btn-primary {
    color: var(--white);
  background-color: var(--blue);
}

.btn-secondary {
    color: var(--dark-blue);
    background-color: var(--white);
}

.btn-primary::before,
.btn-secondary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: var(--transition);
}
.btn-primary::after,
.btn-secondary::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: var(--transition);
}


.btn-primary::after {
  background-color: var(--white);
}
.btn-primary::before {
  background-color: var(--white);
}
.btn-secondary::after {
  background-color: #0399b7;
}
.btn-secondary::before {
  background-color: #0399b7;
}

.btn-primary:hover , .btn-primary:focus , .btn-secondary:hover , .btn-secondary:focus  {
    color: var(--dark-blue);
    background-color: var(--white);
    transform: scale(1.04);
}

.btn-primary:hover::before , .btn-primary:focus::before 
.btn-primary:hover::after , .btn-primary:focus::after {
    width: 50%;
}
.btn-secondary:hover::before , .btn-secondary:focus::before, 
.btn-secondary:hover::after , .btn-secondary:focus::after {
    width: 50%;
}


/* ---------------********** NAVBAR SECTION START **********------------------------ */
.navbar {
  width: 100%;
  height: 8rem;
  backdrop-filter: blur(1rem);
  z-index: 1000;
}

.nav-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  animation: scroll 0.5s ease-in;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 193, 231, 0.631372549);
  backdrop-filter: blur(1rem);
  transition: var(--transition);
}

@keyframes scroll {
  0% {
    transform: translateY(-90px);
  }
  100% {
    transform: translateY(0px);
  }
}

.navbar-brand h3 {
  font-family: var(--stylish-font);
  color: var(--white);
  font-size: 3.5rem !important;
}

.nav-item .nav-link {
  display: inline-block;
  margin-right: 2rem;
  color: var(--white);
  font-weight: light;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1.4rem;
  position: relative;
  padding-bottom: 1rem;
  transition: var(--transition);
}

.nav-item .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0.3rem;
  height: 0rem;
  border-radius: 10rem;
  background-color: var(--blue);
  transition: var(--transition);
}

.nav-item .nav-link:hover,
.nav-item .nav-link:focus {
  color: var(--blue);
}

.nav-item .nav-link:hover::before {
  left: 0;
  width: 100%;
  height: 0.1rem;
}

.nav-item .nav-link.active {
  color: var(--blue) !important;

}

/* ---------------********** HERO SECTION START **********------------------------ */
.hero_section {
  width: 100%;
  padding-block: 8rem;
}

.hero_content .typewriter {
  color: var(--blue);
}

.hero_description {
  text-align: justify;
  text-align-last: left;
}

.hero_img {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  margin-inline: auto;
}

.hero_img img {
  border-radius: 50%;
  border: 0.5rem solid var(--blue);
  box-shadow: 0.2rem 0.2rem 5rem rgba(0, 193, 231, 0.5);
}

.hero_icons a {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  border-radius: 50%;
  border: 0.1rem solid var(--blue);
  color: var(--blue);
  font-size: 1.5rem;
  margin-right: 1rem;
  z-index: 1;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--transition);
}

.hero_icons a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  border-radius: 50%;
  z-index: -1;
  transition: var(--transition);
}

.hero_icons a:hover {
  color: var(--white);
}

.hero_icons a:hover::before {
  left: 0;
}

/* ---------------********** ABOUT SECTION START **********------------------------ */
.about_image {
  width: 90%;
  height: auto;
  /* margin-inline: auto; */
}

.about_image img {
  width: 100%;
  height: auto;
  box-shadow: 0.2rem 0.2rem 2rem rgba(0, 193, 231, 0.5);
  border: 0.2rem solid var(--blue);
  border-radius: 1rem;
}

.line {
  width: 10rem;
  height: 0.2rem;
  background-color: var(--blue);
  position: relative;
}

.line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--blue);
}

.about_descrpition {
  text-align: justify;
  text-align-last: left;
}

.project h2 {
  color: var(--blue) !important;
}

/* ---------------********** SKILL SECTION START **********------------------------ */
.skill_btn {
  padding: 1rem;
  border-radius: 0.4rem;
  border: 0.2rem solid var(--blue);
}

.skill_padding {
  padding-top: 3rem;
}

.skill_img {
  width: 10rem;
  height: 10rem;
  margin-inline: auto;
  display: grid;
  place-items: center;
  background-color: #1f3553c0;
  border-radius: 50%;
  border: 0.2rem solid transparent;
  transition: var(--transition);
}

.skill_img img {
  width: 6rem;
  height: auto;
}

.skill_content {
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
  color: var(--white);
  background-color: #1f3553c0;
  border-bottom: 0.1rem solid var(--blue);
  transition: var(--transition);
}

.skill_card:hover .skill_content{
  border-bottom: 0.2rem solid var(--blue);
}

.skill_card {
  transition: var(--transition);
}

.skill_card:hover {
  transform: skew(3deg);
}

.skill_card:hover .skill_img  {
  border: 0.2rem solid var(--blue);
}

.skill_content .skill {
  color: var(--blue);
}

/* EDUCATION SECTION */
.exprience_card {
  background-color: #1f3553c0 ;
  border-bottom: 0.2rem solid var(--blue);
  transition: var(--transition);
}


.exprience_card:hover {
  transform: scale(1.03);
}

.img_section {
  width: 8rem;
  height: 8rem;
  margin-inline: auto;
  display: grid;
  place-items: center;
  background-color: transparent;
  border-radius: 50%;
  border: 0.2rem solid var(--blue);
}

.img_content p,
.content_right_section .month {
  color: var(--light-white);
}


/* ---------------********** SERVICE SECTION START **********------------------------ */
.service_section::before {
  content: '';
  position: absolute;
  width: 50rem;
  height: 40rem;
  border-radius: 50%;
  left: 50%;
  top: 100%;
  transform: translate(-50% , -100%);
  background-color: rgba(0, 191, 231, 0.1);
  z-index: -1;
}

.service-card {
  border: 0.1rem solid var(--white);
  border-radius: 0.5rem;
  transition: var(--transition);
  color: var(--light-white);
  /* background-color: #1f3553c0; */
}

.service-card .content  {
  text-align: justify;
  text-align-last: left;
}

.service-card:hover {
  transform: skew(3deg);
  border: 0.1rem solid var(--blue);
  z-index: 1;
}

.service-icon .icon {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  line-height: 6rem;
  text-align: center;
  font-size: 2.5rem;
  color: var(--white);
  background-color: var(--blue);
  border: 0.1rem solid transparent;
  position: absolute;
  top: -2.5rem;
  left: 2rem;
  transition: var(--transition);
}

.service-card:hover .service-icon .icon ,
.service-card:focus  .service-icon .icon{
  left: 3rem;
  color: var(--blue);
  background-color: transparent;
  border-color: var(--blue);
}

.service-card .heading {
  margin-top: 3.5rem;
}


/* ---------------********** PROJECT SECTION START **********------------------------ */
.project_section {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/public/image/project-bg.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.project_section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 , 0 , 0, 0.5);
  z-index: -1;
}


/* ---------------********** PORTFOLIO SECTION START **********------------------------ */
.portfolio_img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0 , 0 , 0, 0.5);
  opacity: 0;
  transition: var(--transition);
}

.porfolio_card {
  border-bottom: 0.2rem solid transparent;
  border-radius: 1rem;
  transition: var(--transition);
}

.porfolio_card:hover {
  border-bottom: 0.2rem solid var(--blue);
}

.porfolio_card:hover .portfolio_img::before {
  opacity: 1;
}

.portfolio_img img {
  transition: var(--transition);
}

.porfolio_card:hover .portfolio_img img {
  transform: scale(1.04);
}

.view_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  font-size: 2rem;
  display: inline-block;
  width: 5rem;
  height: 4rem;
  display: grid;
  place-items: center;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 1rem;
  border: 0.1rem solid var(--blue);
  z-index: 10;
  opacity: 0;
  transition: var(--transition);
}

.view_ion:hover ,
.view_ion:focus {
  border: 0.1rem solid var(--blue);
  color: var(--black);
  background-color: transparent;
}

.porfolio_card:hover .view_icon {
  opacity: 1;
}


.portfolio_content .content {
  color: var(--light-white);
  text-align: justify;
  text-align-last:left ;
}

.portfolio_content:hover  h5 {
  color: var(--blue) !important;
}

/* ---------------********** CONTACT SECTION START **********------------------------ */
.contact_section {
  height: auto;
  background: url('/public/image/contact-bg.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.contact_bg_color {
  padding: 2rem;
  border-radius: 0.5rem;
  backdrop-filter: blur(1rem);
  background-color: rgba(255 , 255 , 255 , 0.1);

}

.form-control {
  border: 0.1rem solid var(--white);
  color: var(--white) !important;
  font-size: 1.4rem;
  background-color: transparent !important;
  box-shadow: none !important;
}

.form-control:focus {
  box-shadow: 0 !important;
  border-color: var(--blue);
  background-color: transparent!important;
}



/* ---------------********** FOOTER SECTION START **********------------------------ */
.footer_section {
  background-color: rgba(0, 193, 231, 0.631372549);
  border-top: 0.1rem solid var(--white);
}
